<ion-header>

  <ion-navbar>
    <ion-title>cart</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-list *ngIf="orders">
    <ion-item *ngFor="let order of orders;let index=index">
      <ion-thumbnail item-start>
        <img src="{{order.product.image_path}}">
      </ion-thumbnail>
      <h2>{{order.product.name}}</h2>
      <p>{{ order.product.currency + ' ' + order.product.price + ' x ' + order.quantity }}</p>
      <p><strong>Total</strong>: {{order.product.currency + ' ' + (order.product.price * order.quantity)}}</p>
      <p>
        <button ion-button icon-only class="icon-button" (click)="addQuantity(order)">
          <ion-icon name="ios-add"></ion-icon>
        </button>
        <button ion-button icon-only class="icon-button" (click)="decreaseQuantity(order)">
          <ion-icon name="ios-remove"></ion-icon>
        </button>
      </p>
      <button item-end class="button-clear-md" (click)="removeItem(index)" >Remove</button>
    </ion-item>
  </ion-list>
</ion-content>
