<ion-header>

  <ion-navbar>
    <ion-title>cart</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-list *ngIf="orders.length != 0">
    <ion-item-divider color="light">Orders to be placed</ion-item-divider>
    <ion-item *ngFor="let order of orders;let index=index">
      <ion-thumbnail item-start>
        <img src="{{order.product.image_path}}">
      </ion-thumbnail>
      <h2>{{order.product.name}}</h2>
      <p>{{ order.product.currency + ' ' + order.product.price + ' x ' + order.quantity }}</p>
      <p><strong>Total</strong>: {{order.product.currency + ' ' + (order.product.price * order.quantity)}}</p>
      <p>
        <button ion-button icon-only class="icon-button" (click)="addQuantity(order)">
          <ion-icon name="ios-add"></ion-icon>
        </button>
        <button ion-button icon-only class="icon-button" (click)="decreaseQuantity(order)">
          <ion-icon name="ios-remove"></ion-icon>
        </button>
      </p>
      <button item-end class="button-clear-md" (click)="removeItem(index)" >Remove</button>
    </ion-item>
    <button ion-button block class="button-block" 
      (click)="saveOrders()"
      *ngIf="orders">Place order</button>
  </ion-list>

  <ion-list *ngIf="ordered?.length != 0">
    <ion-item-divider *ngIf="ordered" color="light">Orders that have been placed</ion-item-divider>
    <ion-item *ngFor="let order of ordered;let index=index">
      <ion-thumbnail item-start>
        <img src="{{order.image_path}}">
      </ion-thumbnail>
      <h2>{{order.name}}</h2>
      <p>{{ order.currency + ' ' + order.price + ' x ' + order.quantity }}</p>
      <p><strong>Total</strong>: {{order.currency + ' ' + (order.price * order.quantity)}}</p>
      <img *ngIf="order.kitchen_status == 0" item-end src="assets/imgs/will-cook.png">
      <img *ngIf="order.kitchen_status == 1" item-end src="assets/imgs/cooking.png">
    </ion-item>
  </ion-list>

</ion-content>
