page-cart {
    .item-md {
        padding-left: 0;
    }

    .item-md ion-thumbnail[item-start] {
        margin-left: 16px;
    }

    .list-md .item-block .item-inner {
        border-bottom: none;
    }

    .item.item-block.item-md{
        border-bottom: 1px solid #dedede;
        min-height: 110px;
    }
    .icon-button {
        width: 40px;
        margin: 5px 5px 0 0;
        box-shadow: unset;
    }
}
