page-product {
    ion-slides {
        height: unset;
    }
    .image-container {
        height: 580px;
        width: 100%;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
}
