<ion-menu [content]="content">
<ion-header>
    <ion-toolbar>
    <ion-title>Menu</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
    <ion-list>
        <ion-item nav-clear menu-close class="item-icon-left" (click)="navToHome()">
            <i class="icon ion-ios-home"></i>
            <span>Home</span>
        </ion-item>
        <ion-item nav-clear menu-close class="item-icon-left" (click)="navToCart()">
            <i class="icon ion-ios-cart"></i>
            <span>Orders</span>
        </ion-item>
        <ion-item nav-clear menu-close class="item-icon-left" (click)="requestBillOut()">
            <i class="icon ion-ios-paper"></i>
            <span>Bill Out</span>
        </ion-item>
        <ion-item nav-clear class="item-divider">
            Categories
        </ion-item>

        <ion-item nav-clear menu-close class="item-icon-left" *ngFor="let category of categories" (click)="navToProductsBycateg(category.Category.id, category.Category.name)">
            <ion-icon name="restaurant"></ion-icon>
            <span>{{category.Category.name}}</span>
        </ion-item>
       
        <ion-item ng-click="vm.logout()" class="item-icon-left">
            <ion-icon name="exit"></ion-icon>
            <span>Logout</span>
        </ion-item>
    </ion-list>
</ion-content>
</ion-menu>
        


<ion-nav #content [root]="rootPage"></ion-nav>
