<ion-header class="bar-stable bar bar-header">
  <ion-toolbar>
    <button ion-button icon-only menuToggle>
      <ion-icon name='menu'></ion-icon>
    </button>
    <ion-title>
      {{categoryName}}
    </ion-title>
    <ion-buttons right>
      <button ion-button icon-only menuToggle="right">
        <ion-icon name="ios-cart"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content class="products-list">
  <div *ngFor="let product of products; let index = index">
    <div class="row colums-two" *ngIf="index%2==0">

      <div class="card col" (click)="navToProduct(product)">
        <div class="item item-image">
          <img src="{{product.image_path}}" class="product-list-image">
        </div>
  
        <a class="item">
          <h3>{{product.name}}</h3>
          <h4>{{product.price}}</h4>
        </a>
      </div>

      <div class="card col"
        [ngStyle]="{'visibility': products[index+1] ? 'visible' : 'hidden' }"
        (click)="navToProduct(products[index+1])"
        >
        <div class="item item-image">
          <img src="{{products[index+1]?.image_path}}" class="product-list-image">
        </div>

        <a class="item">
          <h3>{{products[index+1]?.name}}</h3>
          <h4>{{products[index+1]?.price}}</h4>
        </a>
      </div>

    </div>
  </div>
</ion-content>