<ion-header class="bar-stable bar bar-header">
  <ion-toolbar>
    <button ion-button icon-only menuToggle>
      <ion-icon name='menu'></ion-icon>
    </button>
    <ion-title>
      {{categoryName}}
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content class="products-list">
  <div *ngFor="let product of products; let index = index">
    <div class="row colums-two" *ngIf="index%2==0">

      <div class="card col" (click)="navToProduct(product)">
        <div class="item item-image">
          <div class="img-container" [style.background-image]="product.image_path"></div>
        </div>
  
        <a class="item">
          <h3>{{product.name}}</h3>
          <h4>{{product.currency + ' ' + product.price}}</h4>
        </a>
      </div>

      <div class="card col"
        [ngStyle]="{'visibility': products[index+1] ? 'visible' : 'hidden' }"
        (click)="navToProduct(products[index+1])"
        >
        <div class="item item-image">
            <div class="img-container" [style.background-image]="products[index+1].image_path"></div>
        </div>

        <a class="item">
          <h3>{{products[index+1]?.name}}</h3>
          <h4>{{products[index+1]?.currency + ' ' + products[index+1]?.price}}</h4>
        </a>
      </div>

    </div>
  </div>
</ion-content>